<!DOCTYPE html>
<html>
  <head>
    <title>TripDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="wrapper">
      <%= render "shared/navbar" %>
      <div class="container h-100 pt-5 d-flex flex-column">
      <%= render "shared/messages" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
